//-----------GENERAL-------------

html {
  @include box-sizing(border-box);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

//Float
.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

//Responsive design
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  margin: 0 auto;
  font-size: $font-size-body;
  // font-family: $font-family-basic;
  // background-color: $color-background;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

.wrap-notFound {
  margin: 0 auto;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
